extend ../layout/common

block content
  h1
    span.ml-3 Products     

  .d-flex.align-items-center
  form.ml-auto.float-right(action="/users/search", method="GET", class="d-flex")
    input.mr-2(type="text", name="q", class="form-control")
    button.mr-3(class="btn btn-primary") Search

  .container.d-flex
    .row
      each product in products
        .col-md-3
          .card.mb-3.box-shadow
            img.card-img-top(src=product.image, data-holder-rendered='true')
            .card-body
              h5.card-title= product.name
              p.card-text= product.description             
              a(class="btn btn-primary", href="/cart/add/" + product.id) Add to cart
              .d-flex.justify-content-between.align-items-center.float-right.mt-2
                small.text-mute= product.price
              
